*.bak
*.swp
.svn/
.directory
*.o
System.map
*.dat
*.hex
*.or32
*.d
*.map
*.a

#Quartus
db/
incremental_db/
greybox_tmp/
.sopc_builder/
*.rpt
PLLJ_PLLSPE_INFO.txt
*.done
*.dpf
*.jdi
*.map.*
*.pin
*.pof
*.summary
*.sof
*.srf
sopc_builder_log.txt
simulation/
